/* You can add global styles to this file, and also import other style files */
 
html{
	scroll-behavior: smooth;

}

::-webkit-scrollbar {
display: none;
}

.top-bar {
  background: #e9b950;
  padding: 10px 0;
}
.top-left li a,
.top-right li a {
  color: #fff;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}
    /* Hide scrollbar for IE, Edge and Firefox */
  