


<body>
	<!-- Preloader start -->
	<!-- <div class="theme-loader">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div> -->
	<!-- Preloader end -->
	<!-- Top Bar Start -->
	<!-- <div class="top-bar">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-12 col-lg-12 col-md-14">
					<div class="top-left d-i-block">
						<ul>
							<li><a href="#"><i class=""></i></a>Ömerağa Mah. Alemdar Cad. Beyazhan İşhanı No:43 İzmit Kocaeli</li>
							<li><a href="#"><i class="flaticon-call"></i></a> 0537 329 3216 / 0541 540 9232</li>
							<li><a href="#"><i class="flaticon-envelope"></i></a> safahukuk22@gmail.com</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div> -->
	<!-- Top Bar End -->
	<!-- Header Menu Start -->
	<div class="header-menu">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-3 col-lg-3 col-md-8">
					<div class="menu-logo">
						<h1>Safa Hukuk </h1>
					</div>
					<div class="responsive-menu"></div>
				</div>
				<div class="col-xl-9 col-lg-7 col-md-3">
					<div class="main-menu">
						<ul id="mobilemenu">
							<li class=""><a href="/">Anasayfa</a>

							</li>
							<li class=""><a href="#Faaliyet">Faaliyet Alanlarımız</a>

							</li>
							<li class=""><a href="#Hakkimizda">Hakkımızda</a></li>

							<li class=""><a href="contact">İletişim</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Hamburger Menu Start -->

		<!-- Hamburger Menu Start -->
	</div>
	<!-- Header Menu End -->
	<!-- Page Banner Start -->
	<div class="page-banner section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="page-title">
						<h1 class="pb-30">Bizimle İletişime Geçin</h1>
						<ul>
							<li><a href="#Ulasin">İletişim</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Banner End -->
	<!-- Contact Details Start -->
	<div class="contact-list section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-6 md-mb-30">
					<div class="contact-item">	<i class="flaticon-placeholder"></i>
						<h3 class="pt-20 pb-20">Konum</h3>
						<p>Ömerağa Mah. Beyazhan İşhanı No: 43 </p>
						<p>İzmit Kocaeli</p>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 sm-mb-30">
					<div class="contact-item">	<i class="flaticon-envelope"></i>
						<h3 class="pt-20 pb-20">Email</h3>
						<p>safahukuk22@gmail.com</p>

					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6">
					<div class="contact-item">	<i class="flaticon-call"></i>
						<h3 class="pt-20 pb-20">Telefon Numarası</h3>
						<p>0537 329 3216</p>
						<p>0541 540 9232</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Contact Details End -->
	<!-- Contact Area Start -->
	<div class="contact-area section-padding">
        <div class="contact-right"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="section-title-left"> <span class="section-top">Bize Ulaşın</span>
                        <h2 class="fff mb-60">Ücretsiz Danışmanlık</h2>
                        <div class="from-area">
                            <form ngNoForm [action]="url" method="POST" target="_blank" >
								<input type="hidden" name="_captcha" value="false">
								<input type="hidden" name="_next" value="https://safahukuk.org/contact">
									<div class="form-row">
										<div class="form-group col-md-6">
											<input name="isim" type="text" class="form-control" id="fullName" placeholder="İsim" required oninvalid="this.setCustomValidity('Lutfen Adinizi giriniz')" >
										</div>
										<div class="form-group col-md-6">
											<input name="email" type="text" class="form-control" id="email" placeholder="Email" required oninvalid="this.setCustomValidity('Gecerli bir Email formati giriniz')">
										</div>
									</div>
									<div class="form-group">
										<input type="text" name="konu" class="form-control" id="subject" placeholder="Konu" required oninvalid="this.setCustomValidity('Lutfen konu giriniz')" >
									</div>
									<div class="form-group">
										<textarea class="form-control" name="mesaj" id="message" rows="2" placeholder="Mesaj" required oninvalid="this.setCustomValidity('Lutfen mesajinizi yaziniz')"></textarea>
									</div>
								 
                                	<button type="submit" class="attoyer-btn">Mesajı Gönder</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- Contact Area End -->
	<!-- Map Area Start -->
	<div class="contact-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.9380842807795!2d29.927229553339888!3d40.76338650753069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb457f8529c135%3A0xa9c6c8fb1bbf6a51!2zQmV5YXpoYW4gxLDFnyBNZXJrZXpp!5e0!3m2!1str!2sde!4v1666794970776!5m2!1str!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	<!-- Map Area End -->
	<!-- Subscribe Area Start  -->
  <!-- Subscribe Area End -->
	<!-- Footer Area Start  -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-9 md-mb-30">
					<div class="footer-widget">
						<h3>Hakkımızda</h3>
						<div class="widget about-info">
							<p>Safa hukuk bürosu olarak tecrübeli kadromuzla hizmetinizdeyiz. 25 yıllık tecrübemiz ve kazanma alışkanlığımızın yanı sıra kaliteli hizmeti uygun fiyatlandırma politikamızla sizlere sunuyoruz.</p>
						</div>
					</div>
				</div>
				<div class="col-xl-5 col-lg-5 col-md-8">
					<div class="footer-widget">
						<h3>Adresimiz</h3>
						<div class="widget basic-info">
							<ul>
								<li><i class="flaticon-placeholder"></i> Ömerağa Mah. Beyazhan İşhanı No:43 İzmit Kocaeli</li>
								<li><i class="flaticon-call"></i> 0537 329 3216 / 0541 540 9232</li>
								<li><i class="flaticon-envelope"></i> safahukuk22@gmail.com</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Area End -->
	<!-- Copyright Area Start -->
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="copyright-content">
						<p>© 2022. Safa Hukuk. Tüm Hakları Saklıdır</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Copyright Area End -->
	<!-- scroll_up_btn -->
	<div class="scroll-top"> <i class="flaticon-up-arrow"></i>
	</div>
	<!-- scroll_up_btn end -->
	<!-- Main JS -->
	<script src="assets/js/jquery-1.12.4.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="assets/js/bootstrap.min.js"></script>
	<!-- Popper JS -->
	<script src="assets/js/popper.min.js"></script>
	<!-- Carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- WOW JS -->
	<script src="assets/js/wow.min.js"></script>
	<!-- Counterup -->
	<script src="assets/js/jquery.counterup.min.js"></script>
	<!-- Waypoints -->
	<script src="assets/js/waypoints.min.js"></script>
	<!-- jquery.slicknav.min -->
	<script src="assets/js/jquery.slicknav.min.js"></script>
	<!-- Mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- Custom JS -->
	<script src="assets/js/custom.js"></script>
</body>

