

    
<body>
	<!-- Preloader start -->
	<!-- <div class="theme-loader">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div> -->
	<!-- Preloader end -->
	<!-- Top Bar Start -->
	<div class="top-bar">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 col-md-8">
					<div class="top-left d-i-block">
						<ul>
							<li><a href="#"><i class="flaticon-call"></i></a> +(141 - 589 - 548</li>
							<li><a href="#"><i class="flaticon-envelope"></i></a> infoattoyer@gmail.com</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-4">
					<div class="top-right d-i-block text-right">
						<ul>
							<li><a href="#"><i class="flaticon-facebook-app-symbol"></i></a>
							</li>
							<li><a href="#"><i class="flaticon-twitter"></i></a>
							</li>
							<li><a href="#"><i class="flaticon-linkedin"></i></a>
							</li>
							<li><a href="#"><i class="flaticon-vimeo"></i></a>
							</li>
							<li><a href="#"><i class="flaticon-instagram"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Top Bar End -->
	<!-- Header Menu Start -->
	<div class="header-menu">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-2 col-lg-2 col-md-7">
					<div class="menu-logo">
						<a href="index.html">
							<img src="../../assets/img/logo.png" alt="">
						</a>
					</div>
					<div class="responsive-menu"></div>
				</div>
				<div class="col-xl-9 col-lg-9 col-md-2">
					<div class="main-menu">
						<ul id="mobilemenu">
							<li class="menu-icon"><a href="#">Home</a>
								<ul class="submenu">
									<li><a href="index.html"><i class="flaticon-double-right-arrows-angles"></i> Home style 1</a>
									</li>
								</ul>
							</li>
							<li class="menu-icon"><a href="#">Services</a>
								<ul class="submenu">
									<li><a href="services-1.html"><i class="flaticon-double-right-arrows-angles"></i> Services-1</a>
									</li>
									<li><a href="services-2.html"><i class="flaticon-double-right-arrows-angles"></i> Services-2</a>
									</li>
								</ul>
							</li>
							<li class="menu-icon"><a href="#">Page</a>
								<ul class="submenu">
									<li><a href="about.html"><i class="flaticon-double-right-arrows-angles"></i> About Us</a>
									</li>
									<li><a href="pricing.html"><i class="flaticon-double-right-arrows-angles"></i> Pricing</a>
									</li>
									<li><a href="faq.html"><i class="flaticon-double-right-arrows-angles"></i> FAQ</a>
									</li>
									<li><a href="team.html"><i class="flaticon-double-right-arrows-angles"></i> Team</a>
									</li>
									<li><a href="testimonial.html"><i class="flaticon-double-right-arrows-angles"></i> Testimonial</a>
									</li>
								</ul>
							</li>
							<li class="menu-icon"><a href="#">News</a>
								<ul class="submenu">
									<li><a href="blog-grid.html"><i class="flaticon-double-right-arrows-angles"></i> Blog Grid</a>
									</li>
									<li><a href="blog-details.html"><i class="flaticon-double-right-arrows-angles"></i> Blog Details</a>
									</li>
								</ul>
							</li>
							<li class="menu-icon"><a href="contact.html">Contact</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-1 col-lg-1 col-md-3">
					<div class="menu-icon">
						<ul class="d-flex">
							<li><span class="search-icon open"><i class="flaticon-search"></i></span>
							</li>
							<li>
								<div class="hamburger-icon"> <i class="flaticon-menu"></i>
								</div>
							</li>
						</ul>
					</div>
					<div class="search-box">
						<form>
							<input type="search" placeholder="Search Here.....">
							<button type="submit"><i class="flaticon-search"></i>
							</button>
						</form> <span class="search-box-icon"><i class="flaticon-close"></i></span>
					</div>
				</div>
			</div>
		</div>
		<!-- Hamburger Menu Start -->
		<div class="hamburger-popup">
			<div class="hamburger-close-btn">	<i class="flaticon-close"></i>
			</div>
			<div class="menu-box">
				<div class="menu-logo">
					<a href="index.html">
						<img src="assets/img/logo.png" alt="">
					</a>
					<p class="pt-30">Here are many variations of passages onsectetur adipisicing elit. Voluptate, odio cupiditate? Illum, quos eos nihil harum et, id architecto dolore eius dolores culpa eveniet assumenda iusto repudiandae.</p>
				</div>
				<div class="contact-info pt-30">
					<h3 class="mb-25">Contact Info</h3>
					<div class="contact-box"> <i class="flaticon-call"></i>+(141 - 589 - 548</div>
					<div class="contact-box">	<i class="flaticon-envelope"></i>infoattoyer@gmail.com</div>
					<div class="contact-box"> <i class="flaticon-placeholder"></i> 7935 Springs, NY</div>
				</div>
				<div class="follow-us pt-30">
					<h3 class="mb-25">Follow Us</h3>
					<div class="widget social-icon d-i-block">
						<ul class="footer-social">
							<li><a href="#"><i class="flaticon-facebook-app-symbol"></i></a>
							</li>
							<li><a href="#"><i class="flaticon-twitter"></i></a>
							</li>
							<li><a href="#"><i class="flaticon-instagram"></i></a>
							</li>
							<li><a href="#"><i class="flaticon-vimeo"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="hamburger-overlay"></div>
		<!-- Hamburger Menu Start -->
	</div>
	<!-- Header Menu End -->
	<!-- Page Banner Start -->
	<div class="page-banner section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="page-title">
						<h1 class="pb-30">Contact Us</h1>
						<ul>
							<li><a href="#">Hone</a>
							</li>
							<li><a href="#">Contact</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Banner End -->
	<!-- Contact Details Start -->
	<div class="contact-list section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-6 md-mb-30">
					<div class="contact-item">	<i class="flaticon-placeholder"></i>
						<h3 class="pt-20 pb-20">Location</h3>
						<p>7935 Colorado Springs, NY</p>
						<p>7011 Budapast, Harry, WT</p>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 sm-mb-30">
					<div class="contact-item">	<i class="flaticon-envelope"></i>
						<h3 class="pt-20 pb-20">Email</h3>
						<p>infoattoyer@gmail.com</p>
						<p>attoyer@arcoder.com</p>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6">
					<div class="contact-item">	<i class="flaticon-call"></i>
						<h3 class="pt-20 pb-20">Phone Number</h3>
						<p>+(151 - 589 - 548</p>
						<p>+(141 - 599 - 048</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Contact Details End -->
	<!-- Contact Area Start -->
	<div class="contact-area section-padding">
		<div class="contact-right"></div>
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6">
					<div class="section-title-left"> <span class="section-top">//  Free Quote</span>
						<h2 class="fff mb-60">Get a free Consultation</h2>
						<div class="from-area">
							<form>
								<div class="form-row">
									<div class="form-group col-md-6">
										<input type="text" class="form-control" id="fullName" placeholder="Name">
									</div>
									<div class="form-group col-md-6">
										<input type="email" class="form-control" id="email" placeholder="Email">
									</div>
								</div>
								<div class="form-group">
									<input type="text" class="form-control" id="subject" placeholder="Subject">
								</div>
								<div class="form-group">
									<textarea class="form-control" id="message" rows="2" placeholder="Message"></textarea>
								</div>
								<button type="submit" class="attoyer-btn">Send Massage</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Contact Area End -->
	<!-- Map Area Start -->
	<div class="contact-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8404599049163!2d144.95373931582537!3d-37.81720574201448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sbd!4v1639647690771!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	</div>
	<!-- Map Area End -->
	<!-- Subscribe Area Start  -->
	<div class="subscribe-now">
		<div class="container">
			<div class="row subscribe-bg align-items-center">
				<div class="subscribe-shape"></div>
				<div class="col-lg-5">
					<div class="subscribe-left md-mb-25">
						<h3>Subscribe now to Stay with Us</h3>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="subscribe-right">
						<form class="subscribe-box" action="#">
							<input class="form-control" placeholder="Email" type="text">
							<button type="submit" class="subscribe-button">Subscribe Now</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Subscribe Area End -->
	<!-- Footer Area Start  -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-6 md-mb-30">
					<div class="footer-widget">
						<h3>About Us</h3>
						<div class="widget about-info">
							<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Excepteur sint occaecat</p>
						</div>
						<div class="widget social-icon">
							<ul class="footer-social">
								<li><a href="#"><i class="flaticon-facebook-app-symbol"></i></a>
								</li>
								<li><a href="#"><i class="flaticon-twitter"></i></a>
								</li>
								<li><a href="#"><i class="flaticon-instagram"></i></a>
								</li>
								<li><a href="#"><i class="flaticon-vimeo"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6">
					<div class="footer-widget">
						<h3>Recent Post</h3>
						<div class="widget blog-widget">
							<ul>
								<li>
									<a href="#">
										<img src="assets/img/fb-1.png" alt="">
									</a>
									<h4><a href="#">Essential for the Construction</a></h4>
									<i class="flaticon-date"></i><span>12 Jan 2019</span>
								</li>
								<li>
									<a href="#">
										<img src="assets/img/fb-2.png" alt="">
									</a>
									<h4><a href="#">Essential for the Construction</a></h4>
									<i class="flaticon-date"></i><span>28 Jan 2019</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-6 sm-mt-30 sm-mb-30">
					<div class="footer-widget">
						<h3>Quick Links</h3>
						<div class="widget footer-menu">
							<ul>
								<li><a href="index.html"><i class="flaticon-double-right-arrows-angles"></i> Home</a>
								</li>
								<li><a href="about.html"><i class="flaticon-double-right-arrows-angles"></i> About Us</a>
								</li>
								<li><a href="services-1.html"><i class="flaticon-double-right-arrows-angles"></i> Services</a>
								</li>
								<li><a href="pricing.html"><i class="flaticon-double-right-arrows-angles"></i> Pricing</a>
								</li>
								<li><a href="team.html"><i class="flaticon-double-right-arrows-angles"></i> Team</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6">
					<div class="footer-widget">
						<h3>Basic Info</h3>
						<div class="widget basic-info">
							<ul>
								<li><i class="flaticon-placeholder"></i> 7935 Springs, NY</li>
								<li><i class="flaticon-call"></i> +(141 - 589 - 548</li>
								<li><i class="flaticon-envelope"></i> infoattoyer@gmail.com</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Area End -->
	<!-- Copyright Area Start -->
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="copyright-content">
						<p>© 2021. Attoyer All rights reserved</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Copyright Area End -->
	<!-- scroll_up_btn -->
	<div class="scroll-top"> <i class="flaticon-up-arrow"></i>
	</div>
	<!-- scroll_up_btn end -->
	<!-- Main JS -->
	<script src="assets/js/jquery-1.12.4.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="assets/js/bootstrap.min.js"></script>
	<!-- Popper JS -->
	<script src="assets/js/popper.min.js"></script>
	<!-- Carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- WOW JS -->
	<script src="assets/js/wow.min.js"></script>
	<!-- Counterup -->
	<script src="assets/js/jquery.counterup.min.js"></script>
	<!-- Waypoints -->
	<script src="assets/js/waypoints.min.js"></script>
	<!-- jquery.slicknav.min -->
	<script src="assets/js/jquery.slicknav.min.js"></script>
	<!-- Mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- Custom JS -->
	<script src="assets/js/custom.js"></script>
</body>

